In [4]:
d1 = {'name': 'jason', 'age': 20, 'gender': 'male'}
d2 = dict({'name': 'jason', 'age': 20, 'gender': 'male'})
d3 = dict([('name', 'jason'), ('age', 20), ('gender', 'male')])
d4 = dict(name = 'jason', age = 20, gender = 'male')

d1 == d2 == d3 == d4

True

In [4]:
s = {1, 'hello', 5.0}

In [5]:
d1['name']

'jason'

In [7]:
# d1['location']
d1.get('age')

20

In [10]:
d1.get('location', 'None')

'None'

In [1]:
s = {1, 2, 3}
1 in s

True

In [2]:
10 in s

False

In [5]:
'name' in d1

True

In [6]:
'location' in d2

False

In [8]:
d = {'name': 'jason', 'age': 20}

In [11]:
d['gender'] = 'female'
d['dob'] = '1999-02-01'
d

{'name': 'jason', 'age': 20, 'gender': 'female', 'dob': '1999-02-01'}

In [12]:
d.pop('dob')

'1999-02-01'

In [13]:
d

{'name': 'jason', 'age': 20, 'gender': 'female'}

In [14]:
s = {1, 2, 3}
s.add(4)
s

{1, 2, 3, 4}

In [15]:
s.remove(3)
s

{1, 2, 4}

In [18]:
d = {'b': 1, 'a': 2, 'c': 10}
d_sorted_by_key = sorted(d.items(), key=lambda x: x[0])
d_sorted_by_value = sorted(d.items(), key=lambda x: x[1])
d_sorted_by_key

[('a', 2), ('b', 1), ('c', 10)]

In [19]:
d_sorted_by_value

[('b', 1), ('a', 2), ('c', 10)]

In [20]:
s = {3, 4, 1, 2}
sorted(s)

[1, 2, 3, 4]

In [8]:
def find_product_price(products, product_id):
    for id, price in products:
        if id == product_id:
            return price
        
    return None

products = [
    (143121312, 100),
    (423213213232, 30),
    (8908301823021312, 150),
    (982313232, 100)
]

print('The price of product 423213213232 is {}'.format(find_product_price(products, 423213213232)))

The price of product 423213213232 is 30

In [9]:
def find_unique_product_price_using_set(products):
    unique_price_set = set()
    for _, price in products:
        unique_price_set.add(price)
    return len(unique_price_set)
        
print('The number of unique price is: {}'.format(find_unique_product_price_using_set(products)))

The number of unique price is: 3

In [13]:
def find_unique_product_price_using_list(products):
    unique_price_list = []
    for _, price in products:
        if price not in unique_price_list:
            unique_price_list.append(price)
    return len(unique_price_list)

In [14]:
import time
id = [x for x in range(0, 100000)]
price = [x for x in range(200000, 300000)]
products_1 = list(zip(id, price))

In [18]:
start_using_list = time.perf_counter()
print(f'start time is {start_using_list}')
find_unique_product_price_using_list(products_1)
end_using_list = time.perf_counter()
print('time elapse using list: {}'.format(end_using_list - start_using_list))

start time is 43626.786616373
time elapse using list: 43.44740565500251

In [17]:
start_using_set = time.perf_counter()
print(f'start time is {start_using_set}')
find_unique_product_price_using_set(products_1)
end_using_set = time.perf_counter()
print('time elapse using set: {}'.format(end_using_set - start_using_set))

start time is 43618.315228404
time elapse using set: 0.008763525001995731