In [1]:
user = { 
    'uid': 1,
    'name': 'Neo',
    'password': '2733bbf0e6a7b9a919d7cca6a7c0f74a',
    'email': 'neo@matrix.net',
    'mobile': '101-0101'
}

In [2]:
class User:
    def __init__(self, uid, name, password, email, mobile):
        self.uid = uid
        self.name = name
        self.password = User.salt_and_hash(password)
        self.email = email
        self.mobile = mobile
        
    def salt_and_hash(password):
        return password
    
user = User(1, 'Neo', 'thereisnospoon', 'neo@matrix.net', '101-0101')
user.email

'neo@matrix.net'

In [3]:
users = []
users.append(User(1, 'neo', 'thereisnospoon', 'neo@matrix.net', '101-0101'))
users.append(User(2, 'trinity', 'iloveyouneo', 'trinity@matrix.net', '101-1010'))
users.append(User(3, 'morpheus', 'ibelieve', 'morpheus@matrix.net', '101-1111'))

for user in users:
    print(f'uid={user.uid}: name={user.name}, email={user.email}')

uid=1: name=neo, email=neo@matrix.net
uid=2: name=trinity, email=trinity@matrix.net
uid=3: name=morpheus, email=morpheus@matrix.net

In [7]:
for user in users:
    if user.name == 'trinity':
        print(user.mobile)

101-1010

In [8]:
for user in users:
    if user.name == 'trinity':
        user.mobile = '101-0001'

In [9]:
users.append(User(4, 'merovingian', 'iknoweverything', 'merovingian@matrix.net', '777-7777'))

In [10]:
for user in users:
    if not user.mobile.startswith('101'):
        users.remove(user)

In [13]:
list(users)

[<__main__.User at 0x7fe500363a90>,
 <__main__.User at 0x7fe500363b00>,
 <__main__.User at 0x7fe500363b38>]

In [1]:
import pandas as pd

data = pd.read_csv('assets/moma-artists.csv')
data.head(10)

,ConstituentID,DisplayName,ArtistBio,Nationality,Gender,BeginDate,EndDate,Wiki QID,ULAN
0,1,Robert Arneson,"American, 1930–1992",American,Male,1930,1992,NaN,NaN
1,2,Doroteo Arnaiz,"Spanish, born 1936",Spanish,Male,1936,0,NaN,NaN
2,3,Bill Arnold,"American, born 1941",American,Male,1941,0,NaN,NaN
3,4,Charles Arnoldi,"American, born 1946",American,Male,1946,0,Q1063584,500027998.0
4,5,Per Arnoldi,"Danish, born 1941",Danish,Male,1941,0,NaN,NaN
5,6,Danilo Aroldi,"Italian, born 1925",Italian,Male,1925,0,NaN,NaN
6,7,Bill Aron,"American, born 1941",American,Male,1941,0,NaN,NaN
7,9,David Aronson,"American, born Lithuania 1923",American,Male,1923,0,Q5230870,500003363.0
8,10,Irene Aronson,"American, born Germany 1918",American,Female,1918,0,Q19748568,500042413.0
9,11,Jean (Hans) Arp,"French, born Germany (Alsace). 1886–1966",French,Male,1886,1966,Q153739,500031000.0

In [2]:
data.query('BeginDate >= 1990 and BeginDate < 1991')

,ConstituentID,DisplayName,ArtistBio,Nationality,Gender,BeginDate,EndDate,Wiki QID,ULAN
8518,11159,"Lexon, France",est. 1990,NaN,NaN,1990,0,NaN,NaN
10523,29566,OFFECCT,"Sweden, est. 1990",Swedish,NaN,1990,0,NaN,NaN
11545,34168,Kengo Kuma & Associates,"Japan, est. 1990",NaN,NaN,1990,0,NaN,NaN
12469,37888,Werkplaats Martin van Oel,"Dutch, est. 1990",Dutch,NaN,1990,0,NaN,NaN
14254,46529,Joseph Pleass,"British, born 1990",British,Male,1990,0,NaN,NaN
14703,48039,Jacqueline Yuan Quinn,NaN,American,Female,1990,0,NaN,NaN
15514,69266,Richard Malone,"Irish, born 1990",Irish,Male,1990,0,NaN,NaN

In [3]:
data.query('Nationality == "Chinese" and BeginDate >= 1990')

,ConstituentID,DisplayName,ArtistBio,Nationality,Gender,BeginDate,EndDate,Wiki QID,ULAN
13386,42126,Birdhead,"Chinese, active 2004",Chinese,NaN,2004,0,NaN,NaN
15645,70012,Archi-Union Architects,"Chinese, est. 2003",Chinese,NaN,2003,0,NaN,NaN

In [10]:
import urllib3
import json

url = 'https://www.genshuixue.com/sapi/viewLogic/selectCourse/courses?course=all&size=12&subjectId=0&gradeId=200&categoryId=10'

http = urllib3.PoolManager()
r = http.request('GET', url)
if r.status == 200:
    data = json.loads(r.data.decode('utf8','strict'))
    print(f'获取数据：{data}')
else:
    print(f'访问服务失败，错误码：{r.status}')

获取数据：{'code': 0, 'msg': '请求成功', 'loggerId': '5e3d797d229b5', 'data': {'items': [{'cardType': 1, 'masterSubject': {'name': '初一语文', 'id': 2010}, 'clazzName': '【初一】英语语文数学寒假提分训练营', 'clazzNumber': '4347587469010432', 'subClazzNumber': 4347587468372481, 'clazzType': '15', 'isLiving': 0, 'liveClazzLessonNumber': '', 'arrangement': '02月05日-02月10日', 'masterTeachers': [{'number': '372938538', 'name': '李军', 'avatar': 'https://imgs.genshuixue.com/181015888_mwmxvcfe.png', 'time': 1581087090, 'posterUrl': 'https://imgs.genshuixue.com/181015959_xjksn9m0.png', 'tags': '跟谁学签约名师', 'type': 1}, {'number': '332702778', 'name': '木木', 'avatar': 'https://imgs.genshuixue.com/181016065_xzito4z6.png', 'time': 1581087090, 'posterUrl': 'https://imgs.genshuixue.com/181016165_4zqs2zz9.png', 'tags': '跟谁学签约名师', 'type': 1}, {'number': '878476028', 'name': '傲德', 'avatar': 'https://imgs.genshuixue.com/181015192_groaom65.png', 'time': 1581087090, 'posterUrl': 'https://imgs.genshuixue.com/181015264_vwpgwilp.png', 'tags': '跟谁学签约名师', 'type': 1}], 'clazzDetailSchema': 'bjhlstudent://o.c?a=classDetail&courseNumber=4347587469010432&subclazzNumber=&courseType=15', 'discount': {'originPrice': 0, 'number': 4347587469010432, 'discount': None, 'price': 0, 'enrollPrice': 0}, 'linkClazzTag': '', 'latelyBeginTime': 1581161400, 'lessonType': 1, 'hasBuy': False, 'studentCount': 48013}, {'cardType': 1, 'masterSubject': {'name': '初一语文', 'id': 2010}, 'clazzName': '【初一】英语数学语文寒假提分训练营', 'clazzNumber': '4337427088924672', 'subClazzNumber': 4422369165298688, 'clazzType': '15', 'isLiving': 0, 'liveClazzLessonNumber': '', 'arrangement': '2月7日-2月12日', 'masterTeachers': [{'number': '372938538', 'name': '李军', 'avatar': 'https://imgs.genshuixue.com/181015888_mwmxvcfe.png', 'time': 1581087090, 'posterUrl': 'https://imgs.genshuixue.com/181015959_xjksn9m0.png', 'tags': '跟谁学签约名师', 'type': 1}, {'number': '878476028', 'name': '傲德', 'avatar': 'https://imgs.genshuixue.com/181015192_groaom65.png', 'time': 1581087090, 'posterUrl': 'https://imgs.genshuixue.com/181015264_vwpgwilp.png', 'tags': '跟谁学签约名师', 'type': 1}], 'clazzDetailSchema': 'bjhlstudent://o.c?a=classDetail&courseNumber=4337427088924672&subclazzNumber=&courseType=15', 'discount': {'originPrice': 0, 'number': 4337427088924672, 'discount': None, 'price': 0, 'enrollPrice': 0}, 'linkClazzTag': '', 'latelyBeginTime': 1581162600, 'lessonType': 1, 'hasBuy': False, 'studentCount': 31514}, {'cardType': 1, 'masterSubject': {'name': '初一英语', 'id': 2030}, 'clazzName': '【初一】英语语文数学寒假提分训练营', 'clazzNumber': '4426198937742336', 'subClazzNumber': 4426198937239553, 'clazzType': '15', 'isLiving': 0, 'liveClazzLessonNumber': '', 'arrangement': '02月07日-02月12日', 'masterTeachers': [{'number': '372938538', 'name': '李军', 'avatar': 'https://imgs.genshuixue.com/181015888_mwmxvcfe.png', 'time': 1581087094, 'posterUrl': 'https://imgs.genshuixue.com/181015959_xjksn9m0.png', 'tags': '跟谁学签约名师', 'type': 1}, {'number': '878476028', 'name': '傲德', 'avatar': 'https://imgs.genshuixue.com/181015192_groaom65.png', 'time': 1581087094, 'posterUrl': 'https://imgs.genshuixue.com/181015264_vwpgwilp.png', 'tags': '跟谁学签约名师', 'type': 1}, {'number': '562069908', 'name': '傲德', 'avatar': 'https://imgs.genshuixue.com/234812709_q7ax0og6.png', 'time': 1581087094, 'posterUrl': 'https://imgs.genshuixue.com/234812798_u1so9xln.png', 'tags': '跟谁学签约名师', 'type': 1}], 'clazzDetailSchema': 'bjhlstudent://o.c?a=classDetail&courseNumber=4426198937742336&subclazzNumber=&courseType=15', 'discount': {'originPrice': 0, 'number': 4426198937742336, 'discount': None, 'price': 0, 'enrollPrice': 0}, 'linkClazzTag': '', 'latelyBeginTime': 1581162600, 'lessonType': 1, 'hasBuy': False, 'studentCount': 21203}, {'cardType': 2, 'masterSubject': {'name': '', 'id': 0}, 'clazzName': '【2020-寒春】七年级英语目标班', 'clazzNumber': '3771787239214080', 'subClazzNumber': None, 'clazzType': '17', 'isLiving': 0, 'liveClazzLessonNumber': '', 'arrangement': '2门课程联报', 'masterTeachers': [{'number': '372938538', 'name': '李军', 'avatar': 'https://imgs.genshuixue.com/181015888_mwmxvcfe.png', 'time': 1581087086, 'posterUrl': 'https://imgs.genshuixue.com/181015959_xjksn9m0.png', 'tags': '跟谁学签约名师', 'type': 1}], 'clazzDetailSchema': 'bjhlstudent://o.c?a=linkClassDetail&linkClazzNumber=3771787239214080', 'discount': {'originPrice': 399800, 'number': 3771787239214080, 'discount': {'number': 4456080197083136, 'entityNumber': 3771787239214080, 'entityType': 1, 'price': 289800, 'name': '3572105682174976', 'status': 2, 'beginTime': '2020-02-07 21:00:34', 'endTime': '2020-02-07 23:59:59', 'currentTime': '2020-02-07 22:51:26', 'repeatType': 1, 'repeatBeginTime': 0, 'repeatEndTime': 0, 'type': 1, 'limitCount': 0, 'usedCount': 0, 'addCount': 0, 'diffPersonScope': 0}, 'price': 399800, 'enrollPrice': 0}, 'linkClazzTag': '北大网红名师', 'latelyBeginTime': 0, 'lessonType': None, 'hasBuy': False, 'studentCount': 0}, {'cardType': 2, 'masterSubject': {'name': '', 'id': 0}, 'clazzName': '【2020-寒春】七年级语文目标班', 'clazzNumber': '3771220386840576', 'subClazzNumber': None, 'clazzType': '17', 'isLiving': 0, 'liveClazzLessonNumber': '', 'arrangement': '2门课程联报', 'masterTeachers': [{'number': '332702778', 'name': '木木', 'avatar': 'https://imgs.genshuixue.com/181016065_xzito4z6.png', 'time': 1581087098, 'posterUrl': 'https://imgs.genshuixue.com/181016165_4zqs2zz9.png', 'tags': '跟谁学签约名师', 'type': 1}], 'clazzDetailSchema': 'bjhlstudent://o.c?a=linkClassDetail&linkClazzNumber=3771220386840576', 'discount': {'originPrice': 399800, 'number': 3771220386840576, 'discount': {'number': 4455039941961216, 'entityNumber': 3771220386840576, 'entityType': 1, 'price': 289800, 'name': '木木晚8点限时', 'status': 2, 'beginTime': '2020-02-07 20:00:35', 'endTime': '2020-02-07 23:59:59', 'currentTime': '2020-02-07 22:51:38', 'repeatType': 1, 'repeatBeginTime': 0, 'repeatEndTime': 0, 'type': 1, 'limitCount': 0, 'usedCount': 0, 'addCount': 0, 'diffPersonScope': 0}, 'price': 399800, 'enrollPrice': 0}, 'linkClazzTag': '十年一线经验', 'latelyBeginTime': 0, 'lessonType': None, 'hasBuy': False, 'studentCount': 0}, {'cardType': 2, 'masterSubject': {'name': '', 'id': 0}, 'clazzName': '【2020-寒春】七年级数学目标班', 'clazzNumber': '3560334306403840', 'subClazzNumber': None, 'clazzType': '17', 'isLiving': 0, 'liveClazzLessonNumber': '', 'arrangement': '2门课程联报', 'masterTeachers': [{'number': '878476028', 'name': '傲德', 'avatar': 'https://imgs.genshuixue.com/181015192_groaom65.png', 'time': 1581087086, 'posterUrl': 'https://imgs.genshuixue.com/181015264_vwpgwilp.png', 'tags': '跟谁学签约名师', 'type': 1}], 'clazzDetailSchema': 'bjhlstudent://o.c?a=linkClassDetail&linkClazzNumber=3560334306403840', 'discount': {'originPrice': 399800, 'number': 3560334306403840, 'discount': None, 'price': 399800, 'enrollPrice': 0}, 'linkClazzTag': '北大网红名师', 'latelyBeginTime': 0, 'lessonType': None, 'hasBuy': False, 'studentCount': 0}], 'pager': {'size': 6, 'cursor': 2, 'hasMore': False, 'total': 6}}, 'ts': 1581087101, 'path': '/sapi/viewLogic/selectCourse/courses'}

In [12]:
import sqlite3

try:
    conn = sqlite3.connect('assets/flights.db')
    cursor = conn.cursor()
    cursor.execute('SELECT id, name, city, code FROM airports WHERE country="China";')
    
    print(cursor.fetchone())
    print(cursor.fetchone())
    print(cursor.fetchone())
finally:
    cursor.close()
    conn.close()

('3364', 'Capital Intl', 'Beijing', 'PEK')
('6817', 'Hongyuan Airfield', 'Hongyuan', None)
('3366', 'Dongshan', 'Hailar', 'HLD')