In [2]:
t1 = (1, 24, 'tuple')
print(t1)

(1, 24, 'tuple')

In [3]:
type(t1)

tuple

In [4]:
t2 = 1, 24, 'hello'
print(t1, t2)

(1, 24, 'tuple') (1, 24, 'hello')

In [6]:
t3 = 3,
print(type(t3))

<class 'tuple'>

In [7]:
t1[0]

1

In [8]:
t = t1, (1, 2, 3)
print(t)

((1, 24, 'tuple'), (1, 2, 3))

In [10]:
# t[0] = 999

In [11]:
a = [1, 2]
b = [4, 5]

t = a, b
print(t)
t[0].append(3)
print(t)

([1, 2], [4, 5])
([1, 2, 3], [4, 5])

In [12]:
t = 1, 2, 'test', True
print(t)

(1, 2, 'test', True)

In [14]:
start, end, s, boolean = t
print(start, end, s, boolean)

1 2 test True

In [15]:
fruits = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

print(fruits)

{'apple', 'orange', 'banana', 'pear'}

In [16]:
type(fruits)

set

In [17]:
'orange' in fruits

True

In [18]:
'cocount' in fruits

False

In [19]:
print('cocount' in fruits)
fruits.add('cocount')
print('cocount' in fruits)

False
True

In [20]:
print('apple' in fruits)
fruits.remove('apple')
print('apple' in fruits)

True
False

In [21]:
a = set('awdwadsvv')
b = set('nndiuweda')

In [22]:
a | b

{'a', 'd', 'e', 'i', 'n', 's', 'u', 'v', 'w'}

In [23]:
a & b

{'a', 'd', 'w'}

In [24]:
a - b

{'s', 'v'}

In [25]:
b - a

{'e', 'i', 'n', 'u'}

In [26]:
a ^ b

{'e', 'i', 'n', 's', 'u', 'v'}

In [27]:
a - (a & b)

{'s', 'v'}

In [28]:
(a | b) - (a & b)

{'e', 'i', 'n', 's', 'u', 'v'}

In [29]:
for index, fruit in enumerate(fruits):
    print(f'#{index}, {fruit}')

#0, orange
#1, cocount
#2, banana
#3, pear

In [30]:
a = {x for x in 'kkiwdsadawccwad' if x not in 'abc'}
print(a)

{'d', 'i', 'w', 'k', 's'}

In [31]:
pets = {'cat': 'cute', 'dog': 'furry'}
print(pets)

{'cat': 'cute', 'dog': 'furry'}

In [32]:
type(pets)

dict

In [35]:
def find_pet(name):
    if name in pets:
        print(pets[name])
    else:
        print(f'没找到宠物 {name} 的信息')
        
find_pet('cat')
find_pet('turtle')

cute
没找到宠物 turtle 的信息

In [41]:
find_pet('fish')
pets['fish'] = 'wet'
find_pet('fish')

find_pet('dog')
pets['dog'] = 'brave'
find_pet('dog')

没找到宠物 fish 的信息
wet
brave
brave

In [37]:
print(pets.get('monkey', 'N/A'))
print(pets.get('fish', 'N/A'))

N/A
wet

In [44]:
if 'fish' in pets:
    del pets['fish']
    
find_pet('fish')

没找到宠物 fish 的信息

In [45]:
d = {'person': 2, 'cat': 4, 'spider': 8}

In [46]:
for animal in d:
    legs = d[animal]
    print(f'A {animal} has {legs} legs')

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [47]:
for animal, legs in d.items():
    print(f'A {animal} has {legs} legs')

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [1]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

In [3]:
# def get_next_id_and_email():
#     return id, email

# while has_more_ids:
#     t = get_next_id_and_email()
#     all_ids_and_emails.append(t)
    
# dict(all_ids_and_emails)

In [4]:
prices = {'apppe': 1.99, 'banana': 0.99, 'orange': 1.49, 'cantaloupe': 3.99, 'grapes': 0.39}

In [5]:
print(sorted(prices.items()))

[('apppe', 1.99), ('banana', 0.99), ('cantaloupe', 3.99), ('grapes', 0.39), ('orange', 1.49)]

In [9]:
# def sortfn(x):
#     print(x)
#     return x[1]

print(sorted(prices.items(), key = lambda x:x[1]))

[('grapes', 0.39), ('banana', 0.99), ('orange', 1.49), ('apppe', 1.99), ('cantaloupe', 3.99)]

In [10]:
print(sorted(prices.items(), key = lambda x:x[1], reverse = True))

[('cantaloupe', 3.99), ('apppe', 1.99), ('orange', 1.49), ('banana', 0.99), ('grapes', 0.39)]

In [11]:
person1 = {'name': 'Neo', 'age': 30, 'height': 175}
person2 = {'name': 'Trinity', 'age': 29, 'height': 169}
person3 = {'name': 'Morpheus', 'age': 43, 'height': 180}

In [12]:
data = [person1, person2, person3]

In [14]:
data.sort(key = lambda x:x['age'])
print(data)

[{'name': 'Trinity', 'age': 29, 'height': 169}, {'name': 'Neo', 'age': 30, 'height': 175}, {'name': 'Morpheus', 'age': 43, 'height': 180}]

In [15]:
data.sort(key = lambda x:x['name'])
print(data)

[{'name': 'Morpheus', 'age': 43, 'height': 180}, {'name': 'Neo', 'age': 30, 'height': 175}, {'name': 'Trinity', 'age': 29, 'height': 169}]

In [16]:
data.sort(key = lambda x:x['height'], reverse = True)
print(data)

[{'name': 'Morpheus', 'age': 43, 'height': 180}, {'name': 'Neo', 'age': 30, 'height': 175}, {'name': 'Trinity', 'age': 29, 'height': 169}]