crawling - 抽取页面及其所有的超链页面 - crawler spider

scraping - 从非结构化的HTML中抽取相应的信息，可以直接从网络中抽取，也可以从crawling取回的页面中进行 - scraper

scrubbing - 数据清洗

In [23]:
!pip install requests beautifulsoup4 pandas

Requirement already satisfied: requests in /Users/han/.pyenv/versions/3.7.6/lib/python3.7/site-packages (2.23.0)
Requirement already satisfied: beautifulsoup4 in /Users/han/.pyenv/versions/3.7.6/lib/python3.7/site-packages (4.9.0)
Requirement already satisfied: pandas in /Users/han/.pyenv/versions/3.7.6/lib/python3.7/site-packages (1.0.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/han/.pyenv/versions/3.7.6/lib/python3.7/site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /Users/han/.pyenv/versions/3.7.6/lib/python3.7/site-packages (from requests) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/han/.pyenv/versions/3.7.6/lib/python3.7/site-packages (from requests) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/han/.pyenv/versions/3.7.6/lib/python3.7/site-packages (from requests) (2020.4.5.1)
Requirement already satisfied: soupsieve>1.2 in /Users/han/.pyenv/versions/3.7.6/lib/python3.7/site-packages (from beautifulsoup4) (2.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/han/.pyenv/versions/3.7.6/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /Users/han/.pyenv/versions/3.7.6/lib/python3.7/site-packages (from pandas) (1.18.4)
Requirement already satisfied: pytz>=2017.2 in /Users/han/.pyenv/versions/3.7.6/lib/python3.7/site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in /Users/han/.pyenv/versions/3.7.6/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Could not build wheels for requests, since package 'wheel' is not installed.
Could not build wheels for beautifulsoup4, since package 'wheel' is not installed.
Could not build wheels for pandas, since package 'wheel' is not installed.
Could not build wheels for chardet, since package 'wheel' is not installed.
Could not build wheels for idna, since package 'wheel' is not installed.
Could not build wheels for urllib3, since package 'wheel' is not installed.
Could not build wheels for certifi, since package 'wheel' is not installed.
Could not build wheels for soupsieve, since package 'wheel' is not installed.
Could not build wheels for python-dateutil, since package 'wheel' is not installed.
Could not build wheels for numpy, since package 'wheel' is not installed.
Could not build wheels for pytz, since package 'wheel' is not installed.
Could not build wheels for six, since package 'wheel' is not installed.
WARNING: You are using pip version 20.1; however, version 20.1.1 is available.
You should consider upgrading via the '/Users/han/.pyenv/versions/3.7.6/bin/python3.7 -m pip install --upgrade pip' command.

In [10]:
import requests

response = requests.get('https://zh.wikipedia.org/wiki/%E6%98%9F%E5%BA%A7%E5%88%97%E8%A1%A8')

In [11]:
response.status_code

200

In [12]:
response.headers

{'Date': 'Sun, 24 May 2020 10:14:16 GMT', 'Content-Type': 'text/html; charset=UTF-8', 'Server': 'mw1329.eqiad.wmnet', 'X-Content-Type-Options': 'nosniff', 'P3P': 'CP="See https://zh.wikipedia.org/wiki/Special:CentralAutoLogin/P3P for more info."', 'Content-language': 'zh', 'Vary': 'Accept-Encoding,Cookie,Accept-Language,Authorization', 'Last-Modified': 'Tue, 19 May 2020 08:06:10 GMT', 'Content-Encoding': 'gzip', 'Age': '0', 'X-Cache': 'cp5011 miss, cp5008 miss', 'X-Cache-Status': 'miss', 'Server-Timing': 'cache;desc="miss"', 'Strict-Transport-Security': 'max-age=106384710; includeSubDomains; preload', 'Set-Cookie': 'WMF-Last-Access=24-May-2020;Path=/;HttpOnly;secure;Expires=Thu, 25 Jun 2020 00:00:00 GMT, WMF-Last-Access-Global=24-May-2020;Path=/;Domain=.wikipedia.org;HttpOnly;secure;Expires=Thu, 25 Jun 2020 00:00:00 GMT, GeoIP=HK:HCW:Central:22.29:114.15:v4; Path=/; secure; Domain=.wikipedia.org', 'X-Client-IP': '129.226.69.51', 'Cache-Control': 'private, s-maxage=0, max-age=0, must-revalidate', 'Accept-Ranges': 'bytes', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive'}

In [13]:
payload = response.content

In [14]:
from bs4 import BeautifulSoup

In [15]:
soup = BeautifulSoup(payload, 'html.parser')

In [35]:
# table = soup.find('div', class_='mw-parser-output').find_all('table')[0]
table = soup.find('div', class_='mw-parser-output').find('table')
# table = soup.find(string='[2]').parent.parent.parent.find_next_sibling('table')

In [30]:
import pandas as pd

In [36]:
column_names = [th.text for th in table.tbody.tr.find_all('th')]

data_rows = []

for tr in table.tbody.find_all('tr'):
    row = [td.text for td in tr.find_all('td')]
    data_rows.append(row)
    
del data_rows[0]

In [39]:
df = pd.DataFrame(data_rows, columns=column_names)
df

,中文名,簡寫,拉丁名,面積（平方度）,赤經（時、分）,赤緯（度、分）,象限,族,星座最亮星\n
0,仙女座,AND,Andromeda,722.278,0 48.46,37 25.91,NQ1,英仙,仙女座α(壁宿二)\n
1,唧筒座,ANT,Antlia,238.901,10 16.43,-32 29.01,SQ2,拉卡伊,唧筒座α(近天纪增二)\n
2,天燕座,APS,Apus,206.327,16 8.65,-75 18,SQ3,拜耳,天燕座α(异雀八)\n
3,寶瓶座,AQR,Aquarius,979.854,22 17.38,-10 47.35,SQ4,黃道,宝瓶座β(虚宿一)\n
4,天鷹座,AQL,Aquila,652.473,19 40.02,3 24.65,NQ4,武仙,天鹰座α(河鼓二)\n
...,...,...,...,...,...,...,...,...,...
83,小熊座,UMI,Ursa Minor,255.864,15 0,77 41.99,NQ3,大熊,小熊座α(勾陈一)\n
84,船帆座,VEL,Vela,499.649,9 34.64,-47 10.03,SQ2,幻之水,船帆座γ(天社一)\n
85,室女座,VIR,Virgo,1294.428,13 24.39,-4 9.51,SQ3,黃道,室女座α(角宿一)\n
86,飛魚座,VOL,Volans,141.354,7 47.73,-69 48.07,SQ2,拜耳,飞鱼座β(飞鱼三)\n
87,狐狸座,VUL,Vulpecula,268.165,20 13.88,24 26.56,NQ4,武仙,狐狸座α(齐增五)\n

In [40]:
df.columns = ['name_cn', 'abbr', 'name', 'area', 'ra', 'dec', 'quadrant', 'family', 'bs']

In [41]:
df

,name_cn,abbr,name,area,ra,dec,quadrant,family,bs
0,仙女座,AND,Andromeda,722.278,0 48.46,37 25.91,NQ1,英仙,仙女座α(壁宿二)\n
1,唧筒座,ANT,Antlia,238.901,10 16.43,-32 29.01,SQ2,拉卡伊,唧筒座α(近天纪增二)\n
2,天燕座,APS,Apus,206.327,16 8.65,-75 18,SQ3,拜耳,天燕座α(异雀八)\n
3,寶瓶座,AQR,Aquarius,979.854,22 17.38,-10 47.35,SQ4,黃道,宝瓶座β(虚宿一)\n
4,天鷹座,AQL,Aquila,652.473,19 40.02,3 24.65,NQ4,武仙,天鹰座α(河鼓二)\n
...,...,...,...,...,...,...,...,...,...
83,小熊座,UMI,Ursa Minor,255.864,15 0,77 41.99,NQ3,大熊,小熊座α(勾陈一)\n
84,船帆座,VEL,Vela,499.649,9 34.64,-47 10.03,SQ2,幻之水,船帆座γ(天社一)\n
85,室女座,VIR,Virgo,1294.428,13 24.39,-4 9.51,SQ3,黃道,室女座α(角宿一)\n
86,飛魚座,VOL,Volans,141.354,7 47.73,-69 48.07,SQ2,拜耳,飞鱼座β(飞鱼三)\n
87,狐狸座,VUL,Vulpecula,268.165,20 13.88,24 26.56,NQ4,武仙,狐狸座α(齐增五)\n